fastapi>=0.111.0
uvicorn[standard]>=0.29.0
python-multipart>=0.0.9
pydantic-settings>=2.0.0

# SpiderCrypt deps
pandas>=2.0.0
pyarrow>=14.0.0
fastavro>=1.9.0
cryptography>=42.0.0
faker>=24.0.0
pynacl>=1.5.0
